<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/title') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
          <h1>Product Detail</h1>
          <p>Here a detail of product</p>
          <% if (product) { %>
            <p><strong>Product ID: </strong><%= product.product_id; %></p>
            <p><strong>Product Link: </strong><%= product.product_link; %></p>
          <% } else { %>
            <h2>Product detail not found</h2>
          <% } %>
        </div>
    </div>
    <!-- <div class="col-sm-4">
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
        </div>
    </div> -->
</div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
